@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: 6em 3em 1fr 5em;
    min-height: 100vh;
    margin:0;
    padding:0;
}

header {
    text-align:center;
    background-color: #5fdf30;
    color:white;
}

header>img {
    max-height: 100%;
}

nav {
    display: flex;
    flex-wrap: 0;
    justify-content: center;
    background-color: rgb(73, 194, 33);
}

nav>a {
    text-decoration: none;
    font-weight: 600;
    padding:1em;
    color: white;
}

nav>a:hover {
    background-color: rgb(94, 220, 52);
}

nav>a.active {
    background-color: rgb(203, 220, 52);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('./img/wave.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x:center;
    background-position-y: bottom;
    margin-bottom: -5px;
}

footer {
    display:flex;
    justify-content: center;
    color: white;
    background-color: #5fdf30;
}

.home {
    height:80%;
    width: 100%;
    max-width:800px;
    background-image: url('./img/avocado.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position-x:left;
    background-position-y:center;
    color:#3c5422;
    font-size: 3.5rem;
    font-weight: 700;
    text-align:right;
    padding:1em;
}

.menu {
    display: grid;
    justify-content: center;
    /* grid-template-rows: repeat(auto-fill, minmax(200px, 300px)); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-auto-flow:dense;
    gap: 1em;
    max-width: 800px;
    /* height:fit-content; */
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.421);
    border-radius: 20px;
    height: fit-content;
    max-width:300px;
    padding: 10px;
}

.menu>*>img {
    max-width: 100%;
}

.about {
    font-size:large;
    font-weight: 600;
    color:#3c5422;
    max-width: 600px;
    padding: 10px;
}