@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: 6em 3em 1fr 5em;
    min-height: 100vh;
    margin:0;
    padding:0;
}

header {
    text-align:center;
    background-color: #5fdf30;
    color:white;
}

nav {
    display: flex;
    flex-wrap: 0;
    justify-content: center;
    background-color: rgb(73, 194, 33);
}

nav>a {
    text-decoration: none;
    font-weight: 600;
    padding:1em;
    color: white;
}

nav>a:hover {
    background-color: rgb(94, 220, 52);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('./img/wave.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x:center;
    background-position-y: bottom;
    margin-bottom: -5px;
}

footer {
    display:flex;
    justify-content: center;
    color: white;
    background-color: #5fdf30;
}